main .container-chat{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* column-gap: 10px; */
  width: 100%;
  height: 100%;
  background: #eee;
}

main .container-chat .data-user_chats{
  position: relative;
  display: grid;
  grid-template-rows: 200px 600px 100px;
  width:100%;
}

main .container-chat .data-user_chats .header_user_chats{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

main .container-chat .data-user_chats .header_user_chats h1{
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--color-main);
}

main .container-chat .data-user_chats .header_user_chats .boxImg{
  position: relative;
  width: 50%;
  height: 100%;
}

main .container-chat .data-user_chats .header_user_chats .boxImg img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .container-chat .data-user_chats .online_chats_user{
  background: var(--color-main);
  height: 600px;
  overflow: auto;
}

main .container-chat .data-user_chats .online_chats_user > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem;
}


main .container-chat .data-user_chats .online_chats_user .chat{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .container-chat .data-user_chats .online_chats_user .chat{
  background: var( --color-chat_send);
  width: 100%;
  height: 100px;
  border-radius: 10px;
  transition: .40s all ease-in;
  cursor: pointer;
}



main .container-chat .data-user_chats .online_chats_user .chat i{
  color: var(--color-main);
  font-size: 3rem;
  transition: .40s all ease-in;
}

main .container-chat .data-user_chats .online_chats_user .chat span{
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

main .container-chat .data-user_chats .online_chats_user .chat.focus{
  background: var(--bg-chat_focus);
}

main .container-chat .data-user_chats .online_chats_user .chat:hover i:nth-child(1){
  color: #fff;
}

main .container-chat .data-user_chats .online_chats_user .chat:hover i:nth-child(3){
  color: var(--color-chat_send);
}

main .container-chat .data-user_chats .logout_sesion{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--bg-log_out);
}

main .container-chat .data-user_chats .logout_sesion h2{
  color: #fff;
}

main .container-chat .data-user_chats .logout_sesion i{
  font-size: 3rem;
  color: var(--color-door_log_out);
  transition: .40s all ease-in;
}

main .container-chat .data-user_chats .logout_sesion i:hover{
  color: #9a9a9a;
  cursor: pointer;
}

main .container-chat .data-user_messages{
  position: relative;
  display: grid;
  grid-template-rows: 100px 700px 100px;
  width:100%;
}

main .container-chat .data-user_messages .header_user_messages{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-door_log_out);
  border-bottom: 2px solid #424242;
}

main .container-chat .data-user_messages .header_user_messages span{
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

main .container-chat .data-user_messages .online_messages{
  background: var(--color-door_log_out);
  height: 700px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}

main .container-chat .data-user_messages .online_messages .bubble-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main .container-chat .data-user_messages .online_messages .bubble-container .bubble .bubble-text > div{
  position: relative;
  padding: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 5px;
}

main .container-chat .data-user_messages .online_messages .bubble-container .bubble .bubble-text > div .bubble-info{
  font-size: .6rem;
  color: rgba(255, 255, 255, .7);
  padding: 0 5px;
  text-align: right;
  width: 80px;
}

main .container-chat .data-user_messages .online_messages .bubble-container.right{
  margin-left: auto;
  width: 50%;
  align-items: flex-end;
}

main .container-chat .data-user_messages .online_messages .bubble-container.right .bubble .bubble-text > div{
 background: var(--color-chat_send);
}

main .container-chat .data-user_messages .online_messages .bubble-container.left{
  margin-right: auto;
  width: 50%;
}

main .container-chat .data-user_messages .online_messages .bubble-container.left .bubble .bubble-text > div{
  background: var( --color-chat-received);
  display: inline-flex;
}


main .container-chat .data-user_messages .online_messages .bubble-container.right .bubble .bubble-text > div{
  color: #fff;
}

main .container-chat .data-user_messages .online_messages .bubble-container.left .bubble .bubble-text > div{
  color: #000;
}

/* DECORACION A LAS BURBUJAS */
main .container-chat .data-user_messages .online_messages .bubble-container.right .bubble:nth-child(1) .bubble-text > div::before{
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  border-top: 7px solid var(--color-chat_send);
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid var(--color-chat_send);
}

main .container-chat .data-user_messages .online_messages .bubble-container.left .bubble:nth-child(1) .bubble-text > div::before{
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  border-top: 7px solid var(--color-chat-received);
  border-right: 7px solid var(--color-chat-received);
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
}
/* FIN DECORACION A LAS BURBUJAS*/



main .container-chat .data-user_messages .container-form{
  position: relative;
  width: 100%;
  height: 100%;
}

main .container-chat .data-user_messages .container-form form textarea{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  resize: none;
}

main .container-chat .data-user_messages .container-form form textarea{
  outline: none;
  border: none;
  background: none;
  padding: 20px 15% 20px 20px;
  font-size: 1rem;
}

main .container-chat .data-user_messages .container-form form button{

  position: absolute;
  right: 20px;
  bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

main .container-chat .data-user_messages .container-form form button{
  outline: none;
  border: none;
  border: 1px solid var(--bg-chat_focus);
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  transition: .40s all ease-in;
}

main .container-chat .data-user_messages .container-form form button:hover{
  cursor: pointer;
  color: #fff;
  background: var(--color-door_log_out);
}