<div class="container-chat" id="container-chat">
  <div class="data-user_chats" id="data-user_chats">
    <div class="header_user_chats">
      <h1>Chats</h1>
      <div class="boxImg">
        <img src="img/bird.png" alt="">
      </div>
    </div>
    <div class="online_chats_user" id="online_chats_user">
    </div>
    <div class="logout_sesion">
      <h2>CERRAR SESIÓN</h2>
      <i class='bx bxs-door-open' ></i>
    </div>
  </div>
  <div class="data-user_messages" id="data-user_messages">
    <div class="header_user_messages">
      <span class="title_header_chat" id="title_header_chat">UN ESPACIO SEGURO PARA HABLAR</span>
    </div>
    <div class="online_messages">
      <div class="bubble-container" data-chat>
        <!--- MUESTRA DE CHATS -->
      </div>
    </div>
    <div class="container-form">
      <form id="form-send_messages" class="form-send_messages">
        <input id="input_user_login" name="user_login" type="text" hidden> <!-- EL VALOR DEL INPUT TIENE QUE SER EL ID DEL USUARIO LOGUEADO-->
        <textarea class="message_text" name="message" id="message_text" placeholder="Enter your message..."></textarea>
        <input id="input_user_chat" name="chat_message" type="text" hidden> <!-- EL VALOR DEL INPUT TIENE QUE SER EL ID DEL USUARIO CLIQUEABLE-->
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
</div>

<template id="chats">
  <div id="bubble_chats">
    <div class="chat" id="chat" data-chat>
      <i class='bx bxs-user'></i>
      <span id="name" class="name"></span>
      <i class='bx bxs-send' ></i>
    </div>
  </div>
</template>

<template id="bubble">
  <div class="bubble">
    <div class="bubble-text">
      <div>
        <span class="msg_send">Este es un primer mensaje de texto con PHP</span>
        <div class="bubble-info">3 minutes </div>
      </div>
    </div>
  </div>
</template>