<div class="container-chat" id="container-chat">
  <div class="data-user_chats" id="data-user_chats">
    <div class="header_user_chats">
      <h1>Chats</h1>
      <div class="boxImg">
        <img src="img/bird.png" alt="">
      </div>
    </div>
    <div class="online_chats_user">
      <div id="bubble_chats">
        <div class="chat">
          <i class='bx bxs-user'></i>
          <span>Cristian Alejandro Pérez Alvis</span>
          <i class='bx bxs-send' ></i>
        </div>
      </div>
    </div>
    <div class="logout_sesion">
      <h2>CERRAR SESIÓN</h2>
      <i class='bx bxs-door-open' ></i>
    </div>
  </div>
  <div class="data-user_messages" id="data-user_messages">
    <div class="header_user_messages">
      <span>UN ESPACIO SEGURO PARA HABLAR</span>
    </div>
    <div class="online_messages">
      <div class="bubble-container right">
        <div class="bubble">
          <div class="bubble-text">
            <div>
              <span>Este es un primer mensaje de texto con PHP</span>
              <div class="bubble-info">3 minutes </div>
            </div>
          </div>
        </div>
        <div class="bubble">
          <div class="bubble-text">
            <div>
              <span>Este es un primer mensaje</span>
              <div class="bubble-info">3 minutes </div>
            </div>
          </div>
        </div>
        <div class="bubble">
          <div class="bubble-text">
            <div>
              <span>PHP</span>
              <div class="bubble-info">3 minutes </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bubble-container left">
        <div class="bubble">
          <div class="bubble-text">
            <div>
              <span>Este es un primer mensaje de texto con PHP</span>
              <div class="bubble-info">3 minutes </div>
            </div>
          </div>
        </div>
        <div class="bubble">
          <div class="bubble-text">
            <div>
              <span>Este es un primer mensaje</span>
              <div class="bubble-info">3 minutes </div>
            </div>
          </div>
        </div>
        <div class="bubble">
          <div class="bubble-text">
            <div>
              <span>PHP</span>
              <div class="bubble-info">3 minutes </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-form">
      <form id="form-send_messages">
        <textarea name="message" id="message_text" placeholder="Enter your message..."></textarea>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
</div>
