<div class="data-form sign_up" id="data-form">
  <div class="login-sesion">
    <img src="img/avatarLogin.jpg" alt="avatar">
    <h1>Sign Up</h1>
  </div>
  <div class="login-form">
    <form class="sign_up_form" id="sigUpForm" >
      <div class="container-input">
        <input type="text" name="name" id="name">
        <span id="span-name">Name</span>
      </div>
      <div class="container-input">
        <input type="text" name="lastName" id="lastName">
        <span id="span-lastName">Last Name</span>
      </div>
      <div class="container-input">
        <input type="text" name="email" id="email">
        <span id="span-email">Email</span>
      </div>
      <div class="container-input">
        <input type="text" name="password" id="password">
        <span id="span-password">Password</span>
      </div>
      <div class="container-buttons">
        <button type="submit" id="sign-finally">Sign Up</button>
        <button onclick="getBackLogin();">Regresar</button>
      </div>
    </form>
  </div>
</div>
